<div id="idIndex" class="body">
    <div id="background_branding_container" class="ie_legacy" style="" role="banner">
        <img id="background_background_image"
             src="~/Content/img/Car city.jpg" style="visibility: visible;display: block;margin-left: 8%;margin-top:-3%;"
             class="img-responsive">
    </div>
</div>